# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/prod_env.sh
engines/prod_engine.sh
*.egg-info/

# OS specific
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Project specific
*.log
.env
ec2-micromachine-setup
*looker_studio_query.sql
*other_views.sql